<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="3.0.2" targetFramework="net45" />
  <package id="akavache.portable" version="3.0.2" targetFramework="net45" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="reactiveui-core" version="5.0.2" targetFramework="net45" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Main" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.1.30214.0" targetFramework="net45" />
  <package id="ScriptCs.Contracts" version="0.8.1" targetFramework="net45" />
</packages>